/* Alinhar elementos centralizados */
.center {
    text-align: center;
}

/* Estilizar formulário de adição */
.add-form input[type="text"] {
    padding: 5px;
    margin-right: 5px;
    width: 200px;
}

.add-form button[type="submit"] {
    padding: 5px 10px;
}

/* Estilizar lista de tarefas */
ul {
    list-style-type: none;
    padding: 0;
}

/* Estilizar item de lista de tarefas */
li {
    margin-bottom: 10px;
}

/* Estilizar cabeçalho da lista */
.list-header {
    display: flex;
    align-items: center;
}

.list-header a {
    margin-right: 5px;
}

.list-header button[type="submit"] {
    padding: 2px 5px;
    margin-left: 5px;
}

/* Estilizar tarefa */
.task {
    display: flex;
    align-items: center;
}

.task input[type="checkbox"] {
    margin-right: 5px;
}

.task button[type="submit"] {
    padding: 2px 5px;
    margin-left: 5px;
}

/* Estilizar botão de voltar */
.back-button {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}
